.category-container {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  padding-bottom: 1rem;
}

.category-box {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-right: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.category-box:first-child {
  margin-left: 2.4rem; 
}

.category-image {
  width: 80px; 
  height: 70px;
  margin-bottom: 0.2rem;
}

.category-box .category-text {
  font-size: 1rem;
}
