
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa; 
  padding: 1rem;
}

.customBadge .MuiBadge-badge {
  background-color: #d63384; 
  color: white; 
  font-size: 12px; 
  padding: 2px 5px; 
  border-radius: 50%; 
}

button:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible {
  outline: 2px solid #d63384; 
  outline-offset: 2px; 
}

.navbar-brand a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold; 
}


.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 1.5rem;
}

.navbar-links a {
  color: #000; 
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold; 
}


.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.ecommerce-link {
  margin-right: 10px; 
}

.spacer {
  width: 20px; 
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar > div {
  margin-right: 10px;
}
