.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 
.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}
 
.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}