/* Signup.css */

/* Styles for signup page body */
.signup-page {
  background-color: #fce4ec; /* Light pink background */
}

/* Styles for signup container */
.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* White background for the signup container */
}

/* Title styles */
.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff4081; /* Pink title */
}

/* Form styles */
.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form div {
  margin-bottom: 20px; /* Increased margin for better separation */
}

/* Label styles */
.signup-container label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Darker text color for labels */
}

/* Input styles */
.signup-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* Button styles */
.signup-container button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #ff4081; /* Pink button */
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #ff80ab; /* Lighter pink on hover */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .signup-container {
    max-width: 90%;
    margin: 30px auto;
  }
}
